@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* =================================================================== 
   @imports go above
   =================================================================== */

* { box-sizing: border-box;}
::-moz-selection { background: #e2e2e2; color: #fff;}
::selection { background: #e2e2e2; color: #fff;}

/* =================================================================== 
   Clearfix
   =================================================================== */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
.clearfix {
	*zoom: 1;
}

/* =================================================================== 
   General Styles
   =================================================================== */

html {
	font-size: 18px;
}

img, embed, object, video { width: 100%; }

body, h1, h2, h3, h4, h5, h5, p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 { font-size: 8.5333336724rem; font-weight: 400; margin: 0 0 30px 0; }
h2 { font-size: 3.1999999152rem; font-weight: 100; color: #48677A; }

p { margin: 1rem; font-size: 1rem; }

a {
	font-size: 1rem;
	text-decoration: none;
}
a:focus {
	outline: none;
}

.container {
	max-width: 53.125%; /* 1020px */
	margin: 0 auto;
	padding: 40px 3.43137254902% 20px; /* 35 / 1020 */
}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1; /* Fix for iPhone scrolling */
}

.over {
	position: relative;
	top: 100vh;
	left: 0;
	right: 0;
	z-index: 5;
}

.white-text {
	color: #fff;
}
	.white-text a {
		color: #fff;
		transition: all .5s ease;
	}
	.white-text a:hover {
		color: #48677A;
	}
	.white-text a:focus {
		color: #fff;
	}

.center { margin: 0 auto;}
.text-center {
	text-align: center;
}

.home-holder {
	height: 0;
	width: 0;
}

/* =================================================================== 
   Top Section
   =================================================================== */

.top-section {
	top: 0;
	min-height: 100vh;
	background: linear-gradient(135deg, rgba(222, 255, 90, .65) 10%, rgba(0, 182, 255, .65) 90%), url(../img/gulf-bg.jpg) top left no-repeat;
	background-size: cover;
	background-attachment: fixed; 
	color: #fff;
}
	.top-section .main-nav .logo {
		display: inline-block;
		float: left;
		width: 20%;
	}
	.top-section h1 {}
	.top-section h2 {}
	.top-section h2.down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		cursor: ns-resize;
	}
		.down a {
			font-size: 3.2777777778rem;
		}
		.down a:hover {
			color: #fff;
			text-shadow: #fff 0 0 10px;
		}

	/* ---- Begin Logo SVG Styles ---- */
	.top-section .main-nav .logo svg circle {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg circle {
			stroke: #48677A;
		}
	.top-section .main-nav .logo svg path {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg path {
			fill: #48677A;
		}
	.top-section .main-nav .logo svg text {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg text {
			fill: #48677A;
		}
		.top-section .main-nav .logo svg {
			max-width: 73.1775964%; /* 130px / (20% / 888.250px ) */
		}
	/* ---- End Logo SVG Styles ---- */

	.top-section .main-nav nav {
		display: inline-block;
		float: left;
		width: 80%;
	}
		.top-section .main-nav nav > ul {
			float: right;
			padding: 7px 0;
		}
		.top-section .main-nav nav > ul > li {
			display: inline-block;
			margin: 0 0 0 40px;
		}
		.top-section .main-nav nav > ul > li:first-child {
			margin: 0;
		}
	.top-section .headline { -webkit-animation-delay: .25s; animation-delay: .25s; }
		.top-section .hero article {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			width: 100%;
		}

/* =================================================================== 
   Middle Section
   =================================================================== */

main {
	background: #fff;
}

.about-section {
	background: #fff;
	background-size: cover;
	overflow: hidden;
}
.about-section .container {
	padding: 90px 3.43137254902% 0;
}
.about-section h2 {
	margin-bottom: 15px;
}
.about-section .phone-content {
	width: 40.41654939%;
	-webkit-animation-delay: .25s;
	        animation-delay: .25s;
}
	.about-section img {
		float: left;
	}

/* ========================================
Begin Work Section
======================================== */
.screenshots-section {}

	/* ========================================
	Begin Screenshots
	======================================== */
	ul.screenshot-grid {
		max-width: calc(100% + 1px);
		list-style: none;
		font-size: 0; /* Necessary to remove inherent spacing from li in html */
	}
		.screenshot-grid li {
			position: relative;
			float: left; /* Necessary to remove inherent spacing from li in html */
			width: calc(100% / 4);
		}
		.screenshot-grid li > figure {
			width: 100%;
			overflow: hidden;
		}
			.screenshot-grid li:nth-child(2) figure {
				-webkit-animation-delay: .25s;
						animation-delay: .25s;
			}
			.screenshot-grid li:nth-child(3) figure {
				-webkit-animation-delay: .5s;
						animation-delay: .5s;
			}
			.screenshot-grid li:nth-child(4) figure {
				-webkit-animation-delay: .75s;
						animation-delay: .75s;
			}
			.screenshot-grid li:nth-child(5) figure {
				-webkit-animation-delay: 1s;
						animation-delay: 1s;
			}
			.screenshot-grid li:nth-child(6) figure {
				-webkit-animation-delay: 1.25s;
						animation-delay: 1.25s;
			}
			.screenshot-grid li:nth-child(7) figure {
				-webkit-animation-delay: 1.5s;
						animation-delay: 1.5s;
			}
			.screenshot-grid li:nth-child(8) figure {
				-webkit-animation-delay: 1.75s;
						animation-delay: 1.75s;
			}
			.screenshot-grid li > figure > img {
				width: 100%;
				transition: all .75s ease;
			}

	.screenshot-grid figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 25% 0;
		display: block;
		opacity: 0;
		width: 100%;
		height: 100%;
		background: rgba(63, 97, 132, 0.85);
		font-size: 0.7777777778rem;
		text-transform: uppercase;
		transition: all .75s ease;
	}
	.screenshot-grid figcaption.green-caption { background: rgba(222, 255, 90, .25); }
	.screenshot-grid figcaption.green-blue-caption { background: rgba(155, 233, 140, .25); }
	.screenshot-grid figcaption.blue-green-caption { background: rgba(76, 206, 202, .25); }
	.screenshot-grid figcaption.blue-caption { background: rgba(0, 182, 255, .25); }
	.screenshot-grid figure:hover img {
		-webkit-transform: scale(1.3);
		        transform: scale(1.3);
	}
	.screenshot-grid figure:hover figcaption, .screenshot-grid figure:hover figcaption > div {
		opacity: 1;
	}
		.screenshot-grid div.caption {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			text-align: center;
		}
			.screenshot-grid .caption a, .screenshot-grid .caption i, .screenshot-grid .caption p {
				color: #fff;
			}
			.screenshot-grid .caption a > i {
				font-size: 1.9444444444rem;
			}

/* ========================================
Begin Work Section
======================================== */

.feature-intro-section {}
	.feature-intro-section {
		position: relative;
		min-height: 57vh;
		background: url(../img/mountain-bg.jpg) center center no-repeat;
		background-size: cover;
	}

	.feature-intro-section h2 {
		position: absolute;
		bottom: 70px;
		left: 0;
		right: 0;
	}
.feature-items {
	position: relative;
	min-height: 50vh;
	background: linear-gradient(135deg, rgba(222, 255, 90, .65) 10%, rgba(0, 182, 255, .65) 90%), url(../img/arctic-bg.jpg) center left no-repeat;
	background-size: cover;
	color: #fff;
}
	.feature-items li.feature {
		position: relative;
		display: inline-block;
		float: left;
		width: calc(100% / 3);
		height: 50vh;
		overflow: hidden;
		font-size: 3.1666666667rem;
		transition: all .5s ease;
	}
	.feature-items li.feature:nth-child(1):hover, .feature-items li.feature:nth-child(1):focus {
		background: linear-gradient(135deg, rgba(196, 246, 109, .65) 10%, rgba(144, 229, 148, .65) 90%);
	}
	.feature-items li.feature:nth-child(2):hover, .feature-items li.feature:nth-child(2):focus {
		background: linear-gradient(135deg, rgba(144, 229, 148, .65) 10%, rgba(73, 206, 201, .65) 90%);
	}
	.feature-items li.feature:nth-child(3):hover, .feature-items li.feature:nth-child(3):focus {
		background: linear-gradient(135deg, rgba(73, 206, 201, .65) 10%, rgba(0, 182, 255, .65) 90%);
	}
		.feature div.feature-icon {
			position: absolute;
			display: inline-block;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			transition: all .25s ease;
		}
			.feature-section li.feature:hover div.feature-icon, .feature-section li.feature:focus div.feature-icon {
				left: 11%;
			}
				.feature-section li.feature:hover div.feature-icon i, .feature-section li.feature:focus div.feature-icon i {
				color: #48677A;
			}
		.feature div.feature-desc {
			position: absolute;
			display: block;
			top: 50%;
			left: 150%;
			width: 100%;
			padding: 0 7.81269074% 0 17.81269074%;
			font-size: 1.1111111111rem;
			opacity: 1;
			color: #48677A;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			transition: all .25s ease;
		}
			.feature-section li.feature:hover div.feature-desc, .feature-section li.feature:focus div.feature-desc {
				left: 50%;
			}


/* ========================================
Begin Contact Section
======================================== */
.contact-section .container {
	padding: 90px 3.43137254902%;
}
	.contact-section h2 {
		margin: 0 0 60px;
	}
	.contact-form {
		width: 36.5887982%;
		display: block;
		margin: 0 auto;
		font-weight: 400;
		font-size: 0.66666666666667rem;
		line-height: 2rem;
	}
		.contact-form input.input,
		.contact-form textarea.input {
			display: block;
			width: 100%;
			padding: 13px 15px;
			background: #fafafa;
			border: none;
			border-radius: 1px;
			line-height: 0.8888888889rem;
			transition: all 0.35s ease;
		}
		.contact-form input.input { margin: 0 0 16px 0; }
		.contact-form textarea.input { margin: 0 0 30px 0; }
		.contact-form input.input:focus,
		.contact-form textarea.input:focus {
			outline: 0px;
			-webkit-transform: scale(1.025);
			        transform: scale(1.025);
			position: relative;
			z-index: 1;
		}
		
		/* =================================================================== 
		   Placeholder text vendor prefixes
		   =================================================================== */
			.contact-form .input::-webkit-input-placeholder { color: #D8D8D8; font-weight: 400; font-size: 0.8888888889rem; }
			.contact-form .input::-moz-placeholder { color: #D8D8D8; font-weight: 400; font-size: 0.8888888889rem; }
			.contact-form input.input:-moz-placeholder { color: #D8D8D8; font-weight: 400; font-size: 0.8888888889rem; }
			.contact-form .input:-ms-input-placeholder { color: #D8D8D8; font-weight: 400; font-size: 0.8888888889rem; }
		/* =================================================================== 
		   End placeholder text vendor prefixes
		   =================================================================== */

		.contact-form textarea.input {
			height: 150px;
			resize: none;
		}
		
		.contact-form input[type="submit"] {
			display: inherit;
			margin: 0 auto;
			padding: 14px 50px;
			background: #48ceca;
			border: none;
			border-radius: 1px;
			font-size: 0.8888888889rem;
			color: #fff;
		}

/* ========================================
Begin Footer Section
======================================== */
.footer-section {
	background: #48677A;
}
	.footer-section .container {
		padding: 41px 3.43137254902% 24px;
	}
		.footer-section nav > ul > li {
			display: inline-block;
			margin: 0 2.251618351%;
			font-size: 1rem;
		}
			.footer-section nav > ul > li > a:hover { color: #48ceca;}
		.footer-section .copyright {
			font-size: 0.6666666667rem;
			margin: 31px 0 0;
		}


/* Visibilty Classes */
.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Responsive Visibilty Classes */
	.visible-phone {
	    display: none !important;
	}

	.visible-tablet {
	    display: none !important;
	}

	.hidden-desktop {
	    display: none !important;
	}

	@media (max-width: 767px) {
	    .visible-phone {
	        display: inherit !important;
	    }

	    .hidden-phone {
	        display: none !important;
	    }

	    .hidden-desktop {
	        display: inherit !important;
	    }

	    .visible-desktop {
	        display: none !important;
	    }
	}

	@media (min-width: 768px) and (max-width: 1139px) {
	    .visible-tablet {
	        display: inherit !important;
	    }

	    .hidden-tablet {
	        display: none !important;
	    }

	    .hidden-desktop {
	        display: inherit !important;
	    }

	    .visible-desktop {
	        display: none !important ;
	    }
	}

@media (min-width : 1281px) and (max-width : 1886px) {
	.container {
		max-width: 75%;
	}
}
@media (min-width : 1150px) and (max-width : 1280px) {
	h1 { font-size: 7.533334rem; }
	.container {
		max-width: 75%;
	}
}
@media (min-width : 768px) and (max-width : 1049px) {
	h1 { font-size: 6.533334rem; }
	.container {
		max-width: 80%;
	}
}
@media (max-width : 767px) {
	html {
		font-size: 18px;
	}
	h1 { font-size: 3rem; }
	h2 { font-size: 1.5rem; font-weight: 300; }
	p { font-size: 0.8888888889rem; }
	.container {
		max-width: 100%;
	}
	.fixed {
		position: static;
	}
	.over {
		position: static;
	}
	.top-section {
		background-position: top;
	}
	.top-section .main-nav .logo {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}
	.top-section .main-nav .logo svg {
		max-width: 50%;
		width: 100%;
		height: 100%;
	}
	.top-section .main-nav nav {
		display: block;
		width: 100%;
		float: none;
	}
	.top-section .main-nav nav > ul {
		text-align: center;
		float: inherit;
		margin: 30px 0;
	}
	.top-section .main-nav nav > ul > li > a {
		font-size: .75rem;
	}
	.screenshot-grid li {
		width: 100%;
	}
	.feature-intro-section {
		min-height: 50vh;
	}
	.feature-section li.feature {
		display: block;
		width: 100%;
		height: 25vh;
	}
	.feature-section li.feature:hover div.feature-icon {
		left: 14%;
	}
	.feature div.feature-desc {
		padding: 0 7.81269074% 0 23.812691%;
	}
	.contact-form {
		width: 100%;
	}
	.footer-section nav > ul > li > a {
		font-size: .75rem;
	}
	.footer-section .copyright {
		font-size: .75rem;
	}
}








