@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* =================================================================== 
   @imports go above
   =================================================================== */

* { box-sizing: border-box; }
::-moz-selection { background: #e2e2e2; color: #fff;}
::selection { background: #e2e2e2; color: #fff;}

/* =================================================================== 
   Clearfix
   =================================================================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

/* =================================================================== 
   General Styles
   =================================================================== */

html {
	font-size: 18px;
}

img, embed, object, video { width: 100%; }

body, h1, h2, h3, h4, h5, h5, p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1 { font-size: 8.5333336724rem; font-weight: 400; margin: 0 0 30px 0; }
h2 { font-size: 3.1999999152rem; font-weight: 100; }

a {
	font-size: 1em;
	text-decoration: none;
}
a:focus {
	outline: none;
}

.container {
	max-width: 53.125%; /* 1020px */
	margin: 0 auto;
	padding: 40px 3.43137254902% 20px; /* 35 / 1020 */
}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1; /* Fix for iPhone scrolling */
}

.over {
	position: relative;
	top: 100vh;
	left: 0;
	right: 0;
	z-index: 1;
}

.white-text {
	color: #fff;
}
	.white-text a {
		color: #fff;
		transition: all .5s ease;
	}
	.white-text a:hover, .white-text a:focus {
		color: #48677A;
	}

.center { margin: 0 auto;}
.text-center {
	text-align: center;
}

/* =================================================================== 
   Top Section
   =================================================================== */

.top-section {
	top: 0;
	min-height: 100vh;
	background: linear-gradient(135deg, rgba(222, 255, 90, .65) 10%, rgba(0, 182, 255, .65) 90%), url(../img/gulf-bg.jpg) top left no-repeat;
	background-size: cover;
	color: #fff;
}
	.top-section .main-nav .logo {
		display: inline-block;
		float: left;
		width: 20%;
	}

	/* ---- Begin Logo SVG Styles ---- */
	.top-section .main-nav .logo svg circle {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg circle {
			stroke: #48677A;
		}
	.top-section .main-nav .logo svg path {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg path {
			fill: #48677A;
		}
	.top-section .main-nav .logo svg text {
		transition: all .5s ease;
	}
		.top-section .main-nav .logo:hover svg text {
			fill: #48677A;
		}
		.top-section .main-nav .logo svg {
			max-width: 73.1775964%; /* 130px / (20% / 888.250px ) */
		}
	/* ---- End Logo SVG Styles ---- */

	.top-section .main-nav nav {
		display: inline-block;
		float: left;
		width: 80%;
	}
		.top-section .main-nav nav > ul {
			float: right;
			padding: 7px 0;
		}
		.top-section .main-nav nav > ul > li {
			display: inline-block;
			margin: 0 0 0 40px;
		}
		.top-section .main-nav nav > ul > li:first-child {
			margin: 0;
		}
	.top-section .headline { -webkit-animation-delay: .25s; animation-delay: .25s; }
		.top-section .hero article {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			width: 100%;
		}
	.top-section h1 {}
	.top-section h2 {}
	.top-section h2.down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		cursor: ns-resize;
	}

/* =================================================================== 
   Middle Section
   =================================================================== */

.about-section {
	background: #fff;
	background-size: cover;
	overflow: hidden;
}
.about-section .container {
	padding: 90px 3.43137254902% 0;
}
.about-section h2 {
	margin-bottom: 15px;
}
.about-section .phone-content {
	width: 40.41654939%;
	-webkit-animation-delay: .25s;
	        animation-delay: .25s;
}
	.about-section img {
		float: left;
	}
.work-section {
	min-height: 25vh;
	background: linear-gradient(135deg, rgba(222, 255, 90, .65) 10%, rgba(0, 182, 255, .65) 90%), url(../img/arctic-bg.jpg) center center no-repeat;
	background-size: cover;
}
.middle-bot-section {
	min-height: 35vh;
	padding: 60px 100px;
	background: #3FD099;
	background-size: cover;
	text-align: center;
	color: #424A56;
}





@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
@media only screen and (max-device-width : 767px) {
	html {
		font-size: 14px;
	}
	.container {
		max-width: 100%;
	}
	.top-section .main-nav .logo {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
	}
	.top-section .main-nav .logo svg {
		max-width: 50%;
		width: 100%;
		height: 100%;
	}
	.top-section .main-nav nav {
		display: block;
		width: 100%;
		float: none;
	}
}








